<div class="container">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 mt-3 mb-2">
      <h3>会員一覧</h3>
    </div>

    <div class="col-lg-8 mx-auto">
      <table class="table">
        <thead class="table-secondary">
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>

        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.id %></td>
              <td>
                <%= link_to customer.last_name + "　" + customer.first_name, admin_customer_path(customer.id) %>
              </td>
              <td><%= customer.email %></td>
              <td>
                <% if customer.is_deleted == false %>
                  <p class="text-success font-weight-bold mb-0">有効</p>
                <% else %>
                  <p class="text-secondary font-weight-bold mb-0">退会</p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @customers %>
    </div>
  </div>
</div>