<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <h3 class="ml-4 mt-3 mb-5">ジャンル編集</h3>

      <%= form_with model: @genre, url: admin_genre_path(@genre) do |f| %>
      <div class="d-flex mb-5">
        <p class="mb-0 pt-2">ジャンル名</p>
        <%= f.text_field :name, class: "ml-4 mr-4" %>
        <%= f.submit '変更を保存', class: "btn btn-success" %>
      <% end %>
      </div>
    </div>
  </div>
</div>